
.container{
  width: 400px;
  height: 550px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-image: url(bg.jpg);
}

.input{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

.input-text{
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
  display: flex;
  border: none;
  outline: none;
  width: 250px;
  height: 50px;
  padding: 20px;
}

.search-img{
  background-color: #fff;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
}

.weather-icon{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 150px;
  height: 150px;
}
.weather-temp{
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  align-items: center;
  text-align: center;
  margin: auto;
}

.weather-loc{
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  align-items: center;
  text-align: center;
  margin: auto;
}
.data-container{
  margin-top: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.element{
  margin: auto;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.data{
  font-size: 20px;
  font-weight: 400;
}

.text{
  font-size: 20px;
  font-weight: 400;
}

.icon{
  margin-top: 10px;
}


